<footer class="tf-projects-bg-color bg-gradient border-top py-4">
    <!-- Bottom section -->
    <div class="row w-100 border-top pt-3 mt-3">
      <div class="row">
        {% if site.data.bio.basics.website %}
        {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
        <div class="col text-center">
          {% include about/social.html url=url name='house' %}
        </div>
        {% endif %}

        {% if site.data.bio.basics.email %}
        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        <div class="col text-center">
          {% include about/social.html url=url name='envelope' %}
        </div>
        {% endif %}

        {% for profile in site.data.bio.basics.profiles %}
        {% capture url %}{{ profile.url }}{% endcapture %}
        {% capture name %}{{ profile.network | downcase }}{% endcapture %}
        <div class="col text-center">
          {% include about/social.html url=url name=name %}
        </div>
        {% endfor %}
      </div>
      <div class="col border-top pt-3 mt-3 text-center">
      
        <p class="small text-muted">© 2025 Pratik Anurag. All rights reserved.</p>
      </div>
  </div>
</footer>
